*{
    margin: 0;
    padding: 0;
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(photo3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}
ul li {
    display: inline-block
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white transparent;
}
ul li a:hover{
        background-color: white;
        color: black;
        transition: 0.6s ease;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
ul li.active a{
    background-color: white;
    color: black;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.title h1{
    color: #fff;
    font-size: 70px;

}
.button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: white;
    color: black;
}
#last{
    background-color: black;
    color:rgb(243, 142, 142);
    font-size: 20px;
}
nav{
    border-bottom: 3px solid #760001;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    color:black;
    font-size: 11px;
}